:root {
  --white: #FFFFFF;
  --blue: #6CD3FF;
  --purple: #8C72FF;
  --dark-purple: #785EEB;
  --grey: #A7A4AF;
  --light-grey: #E2E1E4;
  --dark-blue: #291c52;

  --base-color: #EBE6FA;
  --base-color-2: #FBFAFF;
}
