@import "styles/main.scss";

html, body {
  overflow-x: hidden;
}

body {
  background-color: #15083e;
}

.hero {
  @include flexAlignment(center);
  padding-top: 258px;
  padding-bottom: 178px;

  &__container {
    @include flexAlignment(center, space-between);
    width: 100%;
  }

  &__content {
    max-width: 563px;
  }

  &__heading {
    margin-bottom: 24px;

    color: var(--white);

    span {
      color: transparent;
      background-clip: text;
      background-size: 200% 100%;
      background-position: right;
      background-image: linear-gradient(245.29deg, #6DC1DC 13.32%, #A690FC 28.55%, #FC96BB 55.55%, #FFC397 84.12%);
    }
  }

  &__paragraph {
    margin-bottom: 48px;

    color: var(--white);
  }

  &__animated-image {
    margin-right: 76px;
    margin-left: 40px;

    .animated-image__animation-element {
      &:nth-of-type(1) {
        --transform-value: translateY(-10%);

        left: 0;
        top: calcPercentage(-56);

        width: calcPercentage(185);

        transform: matrix(0.38, 0, 0, 0.38, 0, 0);

        animation: 1s cubic-bezier(0.7, -0.4, 0.4, 1.4) 0.5s calendarStartAnimation forwards,
                   1s cubic-bezier(0.42, 0, 0.58, 1) 1.6s transformAnimation infinite alternate;

        @keyframes calendarStartAnimation {
          0% {
            transform: matrix(0.38, 0, 0, 0.38, 0, 0);
          }
          100% {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }

      &:nth-of-type(2) {
        --transform-value: translateY(-12%);

        right: calcPercentage(-97);
        top: calcPercentage(-80);

        width: calcPercentage(404);

        opacity: 0;

        transform: translateX(50%);

        animation: 1s cubic-bezier(0.7, -0.4, 0.4, 1.4) 0.5s womanStartAnimation forwards,
                   1s cubic-bezier(0.42, 0, 0.58, 1) 1.6s transformAnimation infinite alternate;

        @keyframes womanStartAnimation {
          0% {
            opacity: 0;
            transform: translateX(40%);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      &:nth-of-type(3) {
        --transform-value: translateY(10%);

        left: calcPercentage(-121);
        bottom: calcPercentage(-124);

        width: calcPercentage(427);

        opacity: 0;

        transform: translateX(-30%);

        animation: 1s cubic-bezier(0.7, -0.4, 0.4, 1.4) 0.5s manStartAnimation forwards,
                   1s cubic-bezier(0.42, 0, 0.58, 1) 1.6s transformAnimation infinite alternate;

        @keyframes manStartAnimation {
          0% {
            opacity: 0;
            transform: translateX(-30%);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      &:nth-of-type(4) {
        --transform-value: translateY(-15%);

        bottom: calcPercentage(-74);
        right: calcPercentage(23);

        width: calcPercentage(164);

        transform: matrix(0.62, 0, 0, 0.62, -5, -5);

        animation: 1s cubic-bezier(0.7, -0.4, 0.4, 1.4) 0.5s phoneStartAnimation forwards,
                   1s cubic-bezier(0.42, 0, 0.58, 1) 1.6s transformAnimation infinite alternate;

        @keyframes phoneStartAnimation {
          0% {
            transform: matrix(0.62, 0, 0, 0.62, -5, -5);
          }
          100% {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }
  }
}

.our-clients {
  margin-bottom: 105px;
  padding: 64px 0 80px;

  --cards-gap: 24px;

  &__heading {
    margin-bottom: 80px;

    text-align: center;
  }

  &__title {
    margin-bottom: 8px;

    color: var(--base-color);
  }

  &__paragraph {
    font-weight: 400;

    color: var(--light-grey);
  }

  &__cards {
    display: grid;

    grid-gap: var(--cards-gap);
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 170px);
  }

  &__column {
    display: grid;
    grid-gap: var(--cards-gap);

    &:nth-of-type(1) {
      .our-clients__card:last-of-type {
        display: none;
      }
    }
  }

  &__card {
    @include flexAlignment(center, center);
    width: 100%;

    aspect-ratio: 1.77 / 1;

    border-radius: 16px;
    background-color: var(--base-color);
    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);

    img {
      display: block;
      height: 33%;
    }

    &:first-of-type {
      position: relative;
      z-index: 1;
    }

    &[data-animate-index] {
      --index: 1;
    }

    &[data-animate-index="2"] {
      --index: 2;
    }

    &[data-animate='fade-right'] {
      opacity: 0;
      transform: translateX(-100%);
    }

    &[data-animate='fade-left'] {
      opacity: 0;
      transform: translateX(100%);
    }

    &[data-animate='fade-right'],
    &[data-animate='fade-left'] {
      &.animated {
        opacity: 1;

        transform: translateX(0);

        transition: 0.8s cubic-bezier(0.7, -0.4, 0.4, 1.4) 1s;
      }
    }

    &[data-animate='slide-down'][data-animate-index] {
      transform: translateY(calc((-100% - var(--cards-gap)) * var(--index)));

      &.animated {
        transform: translateY(0);

        transition: 0.8s cubic-bezier(0.7, -0.4, 0.4, 1.4);
      }
    }
  }
}

.characters {
  position: relative;

  padding-top: 120px;
  margin-bottom: 40px;

  &:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    display: block;
    width: 140%;
    height: 110%;

    background-image: linear-gradient(to bottom right, transparent 43%, var(--dark-blue) 43% 57%, transparent 57% 100%);

    transform: translate(-50%, -50%);
  }

  &__monitor {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: -1;

    @include flexAlignment(center, center);

    width: 263px;
    height: 263px;

    border-radius: 50%;
    background-color: var(--dark-blue);

    img {
      display: block;
      width: 70%;
      height: 70%;

      opacity: 0;

      transform: matrix(0.25, 0, 0, 0.25, 0, 0);

      animation: 5s cubic-bezier(0.7, -0.4, 0.4, 1.4) monitorAnimation infinite;
    }

    @keyframes monitorAnimation {
      0% {
        opacity: 0;
        transform: matrix(0.25, 0, 0, 0.25, 0, 0);
      }
      12% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      70% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      82% {
        opacity: 0;
        transform: matrix(0.25, 0, 0, 0.25, 0, 0);
      }
      100% {
        opacity: 0;
        transform: matrix(0.25, 0, 0, 0.25, 0, 0);
      }
    }
  }

  &__ball {
    position: absolute;
    left: 266px;
    top: 386px;
    z-index: -1;

    @include flexAlignment(center, center);
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: var(--dark-blue);

    img {
      display: block;
      height: 66%;
      width: 66%;
    }
  }

  &__message {
    position: absolute;
    top: -32px;
    right: 25vw;
    z-index: -1;

    @include flexAlignment(flex-end, center);
    height: 124px;
    width: 124px;

    @keyframes messageAnimation {
      0%, 8% {
        opacity: 0;
        transform: matrix(0.1, 0, 0, 0.1, 0, 20);
      }
      16%, 17% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      25%, 26% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      34%, 35% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, -8, 0) rotate(-15deg);
      }
      43%, 44% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 8, 0) rotate(15deg);
      }
      52%, 92% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      100% {
        opacity: 0;
        transform: matrix(0.1, 0, 0, 0.1, 0, 20);
      }
    }
  }

  &__message-image {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 100%;
    width: 100%;

    opacity: 0;
    transform: matrix(0.1, 0, 0, 0.1, 0, 20);

    animation: 4.7s cubic-bezier(0.42, 0, 0.58, 1) messageAnimation forwards infinite;
  }

  &__message-ellipse {
    width: 35%;
    height: 35%;

    border-radius: 50%;
    background-color: var(--dark-blue);
  }

  &__paragraph {
    width: 70vw;
    max-width: 990px;
    margin-left: auto;
    margin-bottom: 260px;

    font-weight: 700;

    text-align: right;
    color: var(--white);

    span {
      color: transparent;
      background-clip: text;
      background-size: 200% 100%;
      background-position: left;
      background-position-x: 40%;
      background-image: linear-gradient(245.29deg, #6DC1DC 13.32%, #A690FC 28.55%, #FC96BB 55.55%, #FFC397 84.12%);
    }
  }

  &__cards {
    display: grid;
    grid-row-gap: 200px;
  }
}

.character-card {
  --relative-value: 448;
  @include flexAlignment(center, space-between);

  &:nth-child(1) {
    padding: 124px 0 116px;
  }

  &:nth-child(2) {
    padding: 33px 0 148px;
  }

  &__primary-image {
    margin-left: 40px;

    .animated-image__animation-element {
      &:nth-of-type(1) {
        --transform-value: translateY(-15.8%);

        left: calcPercentage(-57);
        top: calcPercentage(-50);

        width: calcPercentage(177);
      }

      &:nth-of-type(2) {
        --transform-value: translate(2%, 30%) rotate(2deg);

        top: calcPercentage(-124);
        right: calcPercentage(26);

        width: calcPercentage(124);

        transform: rotate(2deg);
      }

      &:nth-of-type(3) {
        --transform-value: translateY(9%);

        left: calcPercentage(-45);
        bottom: calcPercentage(-116);

        width: calcPercentage(480);
      }

      &:nth-of-type(4) {
        --transform-value: translate(-8%, 10%);

        right: calcPercentage(-103);
        top: calcPercentage(84);

        width: calcPercentage(233);
      }
    }
  }

  &__secondary-image {
    margin-right: 60px;

    .animated-image__animation-element {
      &:nth-of-type(1) {
        --transform-value: scale(1.1) translateX(10.6%);

        top: calcPercentage(-14);
        left: calcPercentage(-30);

        width: calcPercentage(150);

        transform-origin: bottom left;
      }

      &:nth-of-type(2) {
        --transform-value: translateX(64%) scale(1.2);

        bottom: calcPercentage(33);
        left: calcPercentage(-130);

        width: calcPercentage(124);
      }

      &:nth-of-type(3) {
        --transform-value: translate(-50%, -7%);

        left: 50%;
        bottom: calcPercentage(-183);

        width: calcPercentage(537);

        transform: translateX(-50%);
      }

      &:nth-of-type(4) {
        --transform-value: scale(1.44);

        right: calcPercentage(-77);
        top: calcPercentage(175);

        width: calcPercentage(125);

        transform-origin: right;
      }
    }
  }

  &__content {
    display: grid;
    max-width: 563px;

    grid-row-gap: 40px;
  }

  &__heading, &__paragraph {
    color: var(--white);
  }

  &__button {
    width: max-content;
  }

  &_reverse {
    flex-direction: row-reverse;
  }
}

.back-to-top {
  margin-bottom: 125px;

  &__button-wrapper {
    width: max-content;
    margin-left: auto;
    margin-bottom: 40px;

    cursor: pointer;
  }

  &__button {
    display: block;
    padding: 20px;
    margin: 0 auto 8px;

    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);

    svg {
      display: block;
      height: 16px;
      width: 16px;
    }
  }

  &__text {
    color: #EEE9E9;
  }
}

@media screen and (max-width: 1279px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 140px;

    &__animated-image {
      margin-right: 0;
    }
  }

  .characters {
    &__ball {
      left: 24vw;
      top: 300px;
    }

    &__cards {
      grid-gap: 150px;
    }

    &__paragraph {
      margin-bottom: 200px;
    }
  }

  .character-card {
    flex-direction: column;

    &:first-child, &:last-child {
      padding: 0;
    }

    .animated-image {
      width: 66%;
    }

    &__primary-image {
      margin: 0 0 9%;
    }

    &__secondary-image {
      margin: 0 0 13%;
    }

    &__content {
      max-width: 800px;
    }

    &_reverse {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    padding-top: 165px;
    padding-bottom: 60px;

    &__animated-image {
      flex: none;
      width: 350px;
    }
  }

  .our-clients {
    margin-bottom: 40px;

    &__cards {
      grid-template-columns: repeat(3, 170px);
    }

    &__column {
      &:first-of-type, &:last-of-type {
        display: none;
      }
    }
  }

  .characters {
    &__monitor {
      width: 200px;
      height: 200px;
    }

    &__message {
      width: 100px;
      height: 100px;
    }

    &__ball {
      width: 40px;
      height: 40px;
    }

    &__paragraph {
      width: 74vw;
      margin-bottom: 150px;
    }
  }
}

@media screen and (max-width: 855px) {
  .characters:before {
    height: 80%;
  }
}

@media screen and (max-width: 769px) {
  .hero {
    padding-top: 110px;
  }

  .our-clients {
    padding-top: 40px;
  }

  .character-card__secondary-image {
    margin-bottom: 15%;
  }

  .back-to-top {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 721px) {
  .hero {
    &__container {
      flex-direction: column;
    }

    &__content {
      max-width: 100%;
    }

    &__animated-image {
      width: 66%;
      margin: 40px 0 20px;
    }
  }

  .characters {
    padding-top: 170px;

    &__monitor {
      width: 180px;
      height: 180px;
    }

    &__ball {
      top: 270px;
    }

    &__paragraph {
      width: 100%;
      margin-bottom: 100px;
    }
  }

  .character-card__content {
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 639px) {
  .our-clients {
    margin-bottom: 0;

    &__heading {
      margin-bottom: 40px;
    }

    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__column {
      &:first-of-type {
        display: grid;
      }

      &:nth-of-type(1) {
        .our-clients__card:first-of-type {
          opacity: 1;
          transform: rotateX(0);
        }

        .our-clients__card:last-of-type {
          display: flex;
        }
      }

      &:nth-of-type(3) {
        .our-clients__card:last-of-type {
          display: none;
        }
      }
    }
  }

  .characters {
    &:before {
      height: 70%;
      width: 170%;

      background-image: linear-gradient(to bottom right, transparent 40%, var(--dark-blue) 40% 60%, transparent 60% 100%);
    }

    &__message {
      right: 15px;
      top: 103px;
    }

    &__ball {
      display: none;
    }

    &__paragraph {
      text-align: center;
    }

    &__cards {
      grid-row-gap: 60px;
    }
  }
}

@media screen and (max-width: 479px) {
  .hero {
    padding-top: 80px;
  }

  .our-clients {
    &__cards {
      margin: 0 auto;
      width: 74%;

      grid-template-columns: 1fr;
    }
  }
}
